<app-session-expire></app-session-expire>
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0" >Coupon Details</h3>
            </div>
<!--            <div class="col-4 text-right">-->
<!--              <a  (click)="postCoupon()" class="btn btn-sm btn-primary">Save</a>-->
<!--              <a routerLink="/coupons" class="btn btn-sm btn-danger">Cancel</a>-->
<!--            </div>-->
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="couponDetailsForm">
            <h6 class="heading-small text-muted mb-4">Coupon information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-3 col-md-6">
                  <mat-form-field appearance="outline" class="form-group">
                    <mat-label  for="input-username">Coupon Name</mat-label>
                    <input matInput formControlName="name" type="text" id="input-username"  placeholder="Coupon Name">
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label  for="input-type">Coupon type</mat-label>
                    <mat-select formControlName="type" id="input-type">
                      <mat-option value="absolute">Absolute</mat-option>
                      <mat-option value="percentage">Percentage</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6">
                  <mat-form-field appearance="outline" class="form-group">
                    <mat-label class="form-control-label" for="input-first-name">Coupon Value</mat-label>
                    <input matInput  formControlName="value" type="text" id="input-first-name"  placeholder="Coupon Value">
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6">
                  <mat-form-field appearance="outline" class="form-group">
                    <mat-label class="form-control-label" for="input-last-name">Discount</mat-label>
                    <input matInput  formControlName="discount" type="number" id="input-last-name"  placeholder="Discount">
                  </mat-form-field>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="save-button-cont">
  <button class="save-all-button" (click)="postCoupon()" mat-raised-button>Add Coupon</button>
  <button routerLink="/coupons" class="delete-all-button" mat-raised-button>Cancel</button>
</div>
